---
import ImageConverterComponent from '../../components/image_converter/ImageConverter';
import '../../styles/global.css';
---

<html lang="en">
  <head>
    <title>Image Converter | Tool Suite</title>
  </head>
  <body class="bg-gray-100">
      <ImageConverterComponent client:only />
    </div>
  </body>
</html>
